<html>
<head>
	<title>Employee Management Form</title>
	<style type="text/css">
		.s{
			background-color: red;
			font-size: 100;
			font-family: monospace;
		}
	</style>
</head>

	<body>
		<center> <div class ="s">
		<h2>Employee Information</h2>

		<form>
			<label for ="employee_id">Employee ID      :</label>
			<input type="text" name="employee_id" required><br><br>

			<label for ="name ">Name      : </label>
			<input type="text" name="name" required><br><br>

			<label for ="email ">Email     : </label>
			<input type="text" name="email" required><br><br>

			<label for ="dob">DOB    : </label>
			<input type="Date" name="dob" required><br><br>

			<input type="submit" value="Submit">
		</form></div></center>
	</body>
</html>

